/* MAPA */
#map-container {
  width: 100vw;
  height: 100vh;      /* Fallback */
  height: 100dvh;     /* Altura dinámica real en móviles */
  position: relative;
}

#map { width: 100%; height: 100%; }

/* SPLASH SCREEN */
.splash-screen {
  position: fixed;
  inset: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  animation: fadeOut 1s ease-out 4s forwards; 
}

.splash-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* PANTALLA BIENVENIDA */
#pantalla-inicio {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2000;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
}